<div class="container">
  <header class="py-3 mb-4 border-bottom">

    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../images/filter.png" height="24px" width="24px">
        Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/electronics/sortPriceDesc">
        <img src="../images/sort-down.svg" height="24px" width="24px">
        Filter price low-high
        </a></li>
        <li><a class="dropdown-item" href="/electronics/sortPriceAsc">
        <img src="../images/sort-up.svg" height="24px" width="24px">
        Filter price high-low
        </a></li>
        <li><a class="dropdown-item" href="/electronics/">
          <img src="../images/remove.svg" height="24px" width="24px">
          Remove filter
        </a></li>
    </ul>
    </div>

  </header>
</div>

<div style="flex-wrap: wrap;" class="gap-3 d-flex justify-content-center">

    {{#each x}}
    <div class="card" style="width: 18rem;">
        <img src="{{imgURL}}" class="card-img-top" style="height: 235px; width: 235px; margin:auto; padding:5px;">
        <div class="card-body">

            <h5 class="card-title">{{name}}</h5>
  
            <h6 class="text-muted">{{brand}}</h6>

            <p class="card-text">{{desc}}</p>

        </div>
        <p class="card-text" style="text-align:center; font-size: 18px;"><strong>${{price}}</strong></p>
        <a href="electronics/add-cart?_id={{ this._id }}" class="btn btn-primary">
            <img src="../images/add-cart.png" style="height: 24px; width: 26px;">
            Add to cart
        </a>
    </div>
    {{/each}}

</div>