<div>

  <h1>Your Cart</h1>

  <div>
    {{#each CartItems}}
    <div class="card d-flex" style="width: 750px; margin: auto;">
      <div class="row">
        <div class="col">
          <img src="{{imgURL}}" style="height: 100px; width: 100px; padding-left:5px;">
        </div>
        <div class="col align-self-center">
          <p class="card-text"><strong>{{name}}</strong></p>
        </div>
        <div class="col align-self-center">
          <p class="card-text">{{desc}}</p>
        </div>
        <div class="col align-self-center">
          <p class="card-text">${{price}}</p>
        </div>
        <div class="col align-self-center">
          <a href="/products/cart-item-del?_id={{this._id}}">
            <img src="../images/trash.png" style="height: 24px; width: 24px;">
          </a>
        </div>
      </div>
    </div>
    {{/each}}

  </div>

  </br>

  <table class="table" style="width: 350px; margin: auto;">
  <tbody>
    <tr>
      <td>Subtotal</td>
      <td>${{total}}</td>
    </tr>
    <tr>
      <td>Tax</td>
      <td>${{tax}}</td>
    </tr>
    <tr>
      <th scope="row">Total</th>
      <td>${{final}}</td>
    </tr>
  </tbody>
</table>

<br>

<div style="text-align: center;">
  <a class="btn btn-primary" href="/checkout/checkout" >
    Checkout
  </a>
</div>

</div>