<div style="display: flex;" class="gap-3 justify-content-center">

    {{#each productList}}
    <div class="card" style="width: 18rem;">
        <img src="{{imgURL}}" class="card-img-top" style="height: 250px; width: 250px; margin:auto;">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{desc}}</p>
            <p><strong>${{price}}</strong></p>
            <a href="products/add-cart?_id={{ this._id }}" class="btn btn-primary">
                <img src="../images/add-cart.png" style="height: 24px; width: 26px;">
                Add to cart
            </a>
        </div>
    </div>
    {{/each}}

</div>