<div class="container">
  <header class="py-3 mb-4 border-bottom d-flex">

    <div class="dropdown" style="padding-right: 10px;">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../images/filter.png" height="24px" width="24px">
        Filter Products
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/products/sortPriceDesc">
          <img src="../images/sort-down.svg" height="24px" width="24px">
          Filter price low-high
        </a></li>
        <li><a class="dropdown-item" href="/products/sortPriceAsc">
          <img src="../images/sort-up.svg" height="24px" width="24px">
          Filter price high-low
        </a></li>
        <li><a class="dropdown-item" href="/products/sortAtoZ">
          <img src="../images/AtoZ.svg" height="24px" width="24px">
          Filter name A to Z
        </a></li>
        <li><a class="dropdown-item" href="/products/sortZtoA">
          <img src="../images/ZtoA.svg" height="24px" width="24px">
          Filter name Z to A
        </a></li>

        <li><hr class="dropdown-divider"></li>

        <li><a class="dropdown-item" href="/products/">
          <img src="../images/remove.svg" height="24px" width="24px">
          Remove filter
        </a></li>
    </ul>
    </div>

    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../images/filter-price.png" height="24px" width="28px">
        Filter By Price
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/products/sortPriceUnder15">
          Under $15
        </a></li>        
        <li><a class="dropdown-item" href="/products/sortPriceUnder25">
          Between $15 and $25
        </a></li>
        <li><a class="dropdown-item" href="/products/sortPriceUnder50">
          Between $25 and $50
        </a></li>
        <li><a class="dropdown-item" href="/products/sortPriceOver50">
          Above $50
        </a></li>
        
        <li><hr class="dropdown-divider"></li>

        <li><a class="dropdown-item" href="/products/">
          <img src="../images/remove.svg" height="24px" width="24px">
          Remove filter
        </a></li>
    </ul>
    </div>

  </header>
</div>

<div style="flex-wrap: wrap;" class="gap-3 d-flex justify-content-center">

    {{#each productList}}
    <div class="card" style="width: 18rem;">
        <img src="{{imgURL}}" class="card-img-top" style="height: 235px; width: 235px; margin:auto; padding:5px;">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{desc}}</p>
        </div>
        <p class="card-text" style="text-align:center; font-size: 18px;"><strong>${{price}}</strong></p>
        <a href="/products/add-cart?_id={{ this._id }}" class="btn btn-primary">
            <img src="../images/add-cart.png" style="height: 24px; width: 26px;">
            Add to cart
        </a>
    </div>
    {{/each}}

</div>